# dependencies
node_modules/

# build folders
target/
dist/
build/

# environment files
.env
.env.local
.venv/
__pycache__/
*.pyc
local.db

# IDE files
.idea/
.vscode/

# OS files
.DS_Store

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/*.pem
crash.log

# logs
*.log
